*{
	margin:0;
	padding:0;
	font-family:sans-serif;
    /* background-color: #9CCDDB; */
 }

.navi-main{
    display: inline-block;
    text-align: center;
    align-content: center;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 7rem;
    display: table;
    float: none;
}
.navbar-brand{
    margin: auto;
    margin-left: 7rem;
}


.home{
    width: 100%;
}
.home-left{
    
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.home-left-main{
    margin-left: 7rem;
}
.home-right{
    display: flex;
}
.home-right img{
    height: fit-content;
}
.socila-media{
    align-items: center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap: 2rem;
    margin-top: 7rem;
    margin-left: 2rem;
}
.socila-media a i{
   font-size: 1.5rem;
   cursor:pointer;
   color:#173C4C;
   margin-bottom:20px;
   transition:0, 4s;  
}
.socila-media a i:hover{
   color:#173C4C;
   font-size: 1.7rem;
}

.title{
    width: fit-content;
    border: 3px solid;
    padding: 2px 50px;
    border-color: #0dcaf0;
}
.about-right h1{
    margin-top: 10rem;
    /* background-color: black; */
}
.about-right-main{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 6rem;
    margin-right: 6rem;
}
.about-right-main p{
    font-size: 1.5rem;
    width: fit-content;
}



.competence{
    margin-top: 10rem;
}
.education{
    margin-top: 20rem;
}
.title-2{
    margin-left: 7rem;
    margin-top: 7rem;
}
.education-title{
    margin-left: 7rem;
    margin-top: 7rem;
}
.education-details{
    margin-top: 15rem;
}
.skills-title{
    margin-left: 7rem;
    margin-top: 7rem;
    padding: 2px 95px;
}

.details{
    width: fit-content;
}
.exp{
    position: relative;
    margin-top: 15rem;
}

.contact{
    /* width: fit-content; */
    /* gap: 1rem; */
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    height: 10rem;
    background-color: #6c757d;
}
.contact-icon a i{
    font-size: 3rem;
    cursor:pointer;
    color:#173C4C;
    transition:0, 4s;
    margin-top: 5rem;
    margin-left: 3rem;
 }